In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1')
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [22]:
# QUESTION 1
df.groupby(['Element'])['Y2014','Y2015','Y2016','Y2017','Y2018'].sum().loc['Stock Variation']

<ipython-input-22-f1fc5a7e6be7>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(['Element'])['Y2014','Y2015','Y2016','Y2017','Y2018'].sum().loc['Stock Variation']

Y2014    58749.83
Y2015    34910.99
Y2016    33140.12
Y2017    54316.91
Y2018    20577.91
Name: Stock Variation, dtype: float64

In [26]:
# QUESTION 2
df.groupby(['Item'])['Y2015','Y2018'].sum().loc['Wine']

<ipython-input-26-7751c72f95f6>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(['Item'])['Y2015','Y2018'].sum().loc['Wine']

Y2015    4251.81
Y2018    4039.32
Name: Wine, dtype: float64

In [40]:
# QUESTION 3
df[['Y2017','Area']].groupby('Area').sum().sort_values(by='Y2017', ascending=False)

                                  Y2017
Area
Nigeria                      1483268.23
Egypt                         866379.92
South Africa                  517590.54
Ethiopia                      448683.76
Morocco                       388495.36
Ghana                         337599.06
Algeria                       325644.27
United Republic of Tanzania   322616.85
Kenya                         264660.66
Sudan                         239931.92
Cameroon                      232030.43
Angola                        229159.57
CÃ´te d'Ivoire                 224599.01
Uganda                        213950.38
Malawi                        181098.71
Mozambique                    161407.98
Mauritania                    156665.46
Mali                          149928.33
Madagascar                    131197.73
Niger                         126707.58
Benin                         124771.22
Tunisia                       124167.20
Zambia                        103223.77
Burkina Faso                  101855.07
Guinea                         98138.87
Senegal                        95681.15
Zimbabwe                       75919.34
Rwanda                         73663.69
Chad                           71594.68
Sierra Leone                   55311.33
Eswatini                       54343.33
Mauritius                      51114.83
Togo                           49841.88
Congo                          41181.68
Central African Republic       29937.00
Namibia                        29874.89
Liberia                        29342.20
Gabon                          27979.64
Gambia                         23154.18
Djibouti                       22729.91
Botswana                       22101.30
Lesotho                        21267.96
Guinea-Bissau                  19102.77
Cabo Verde                     14650.74
Sao Tome and Principe          12662.63
Seychelles                       442.34
Comoros                           59.84
Sudan (former)                     0.00
Ethiopia PDR                       0.00

In [70]:
# QUESTION 5
df.groupby(['Element'])['Y2017'].sum().loc['Processing']

292836.0

In [69]:
# QUESTION 6
df[df['Area'] == 'Madagascar'].groupby('Element')['Y2015'].sum().loc['Protein supply quantity (g/capita/day)']

173.04999999999998

In [118]:
# QUESTION 7
df[['Y2017','Area']].groupby('Area').sum().sort_values(by='Y2017').iloc[6]

Y2017    19102.77
Name: Guinea-Bissau, dtype: float64

In [93]:
# QUESTION 8
print(df['Y2014'].isnull().sum())
df['Y2014'].isnull().sum()/df['Y2014'].count()

1589

0.026771573946153586

In [97]:
# QUESTION 11
len(df['Area'].unique())

49

In [110]:
# QUESTION 17
df.corr()['Element Code'].sort_values()

Item Code      -0.024683
Area Code      -0.000209
Y2016           0.023444
Y2015           0.023889
Y2017           0.024254
Y2018           0.024279
Y2014           0.024457
Element Code    1.000000
Name: Element Code, dtype: float64

In [113]:
# QUESTION 19
df.describe()['Y2017']

count     59437.000000
mean        140.917765
std        1671.862359
min       -1582.000000
25%           0.000000
50%           0.100000
75%           9.000000
max      190873.000000
Name: Y2017, dtype: float64